body {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

textarea {
  height: 300px;
}

ul {
  list-style: initial;
}

.no-button {
  border: 0;
  padding: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.fa-lg {
  vertical-align: 0;
}

.modified-at-date {
  font-size: 11px;
  font-style: italic;
}
