<template name="notes">
  {{#if notes.count}}
    <ul>
      {{#each notes}}
        <li>
          <button class="no-button" data-action="open">{{firstLineOfBody body}}</button>
          <span class="modified-at-date">- {{formattedModifiedAt modifiedAt}}</span>
          <button class="no-button" data-action="remove"><i class="fa fa-trash-o fa-lg"></i></button>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class="text-center">
      There are no notes available to show...
    </div>
  {{/if}}
</template>
